@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html {
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #eef0f2;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "sudoku" 
        "gap" 
        "footer";
    grid-template-rows: min-content 1fr min-content;
}

.container {
    grid-area: sudoku;
    display: grid;
    margin-top: 1rem;
    grid-template-areas:
        "title"
        "board"
        "slider"
        "buttons"
        "status";
}

.title-row {
    grid-area: title;
    justify-self: center;
}

.board-row {
    grid-area: board;
    justify-self: center;
    margin-top: 1em;
}

.slider-row {
    grid-area: slider;
    justify-self: center;
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.buttons-row {
    grid-area: buttons;
    justify-self: center;
    margin-top: 1em;
}

.status-row {
    grid-area: status;
    justify-self: center;
}

/* Update the footer styles */
footer {
    grid-area: footer;
    width: 100%;
    background-color: #1c6ed1;
    padding: 1em 0;
    text-align: center;
  }
  
  /* Style the footer text */
  .footer-info {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
  }
  
  /* Style the footer links */
  .footer-info a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5em;
    transition: all 0.3s ease;
  }
  
  .footer-info a:hover {
    text-decoration: underline;
  }
  
  /* Add additional padding to top and bottom of footer links */
  .footer-info a:first-child {
    padding-top: 0.5em;
  }
  
  .footer-info a:last-child {
    padding-bottom: 0.5em;
  }
  
  
